<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Universo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="background-color: #f3f4f8;">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">¡Explora el Universo!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; margin-top: 20px;">
    <ion-icon name="planet" size="large" style="color: #a2b5cd;"></ion-icon>
    <h1 style="font-weight: bold; color: #2d3e50;">Bienvenido a la Ciencia del Espacio 🌌</h1>
    <p style="color: #5a6d7f; font-size: 16px;">Sumérgete en el fascinante mundo de las estrellas y planetas con componentes UI de Ionic.</p>
    <ion-button expand="block" color="secondary" (click)="navigateTopage1()">
      ¡Ir a la página de exploración!
    </ion-button>
  </div>
</ion-content>
